body {
  padding: 0;
  margin: 0;
}
section {
  width: 100%;
}
.nav__section {
  background-color: #4758d6;
  color: white;
}
nav {
  margin: 0 auto;
  top: 0;
  width: 75%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.nav__logo {
  margin: 10px;
  font-family: "Hind Vadadora", sans-serif;
  font-size: 2rem;
}

.nav__list {
  display: flex;
  flex-flow: row nowrap;
  float: right;
  font-family: "Hind Vadodara", sans-serif;
  font-size: 1rem;
  margin: 10px;
}

ul li {
  list-style: none;
  margin: 10px;
}

.hero {
  position: relative;
  height: 700px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.hero__main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero__banner {
  font-family: "Work Sans", sans-serif;
  font-weight: 800;
  font-size: 48px;
  text-align: center;
  color: #4758d6;
  margin: 0 auto;
}

.btn {
  background: none;
  border-style: none;
  outline-style: none;
  width: 200px;
  height: 50px;
  background-color: #ea3a3a;
  color: white;
  /* padding: 20px 20px; */
  border-radius: 50px;
  margin-top: 20px;
  font-family: "PT Sans", sans-serif;
  font-size: 1rem;
}

.hero__image {
  position: absolute;
  width: 1050px;
  height: 1050px;
  z-index: -100;
  right: 0;
  border-radius: 50%;
  transform: translate(200px, 30px);
  background: linear-gradient(
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.8)
    ),
    url("./daniel-mccullough-o86AuYXPDB8-unsplash.jpg");
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  overflow: hidden;
}

.date-picker {
  margin: 30px;
  background: #fff;
  padding: 15px 30px;
  border-radius: 50px;
  border: 1px #707070 solid;
  box-shadow: 0px 0px 3px #707070;
}

.second__main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient(
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.8)
  );
  overflow: hidden;
  position: relative;
}

.second__main h1 {
  font-family: "Work Sans", sans-serif;
  font-weight: 800;
  font-size: 36px;
  text-align: center;
  color: #4758d6;
  margin: 40px 0px 0px 0px;
}

.second__main h3 {
  margin: 10px;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 24px;
  text-align: center;
  color: #ea3a3a;
}

.listing__box {
  display: grid;
  margin: 40px;
  background: linear-gradient(
    to right bottom,
    rgba(71, 88, 214, 0.3),
    rgba(71, 88, 214, 0.3)
  );
  width: 960px;
  height: 680px;
  border-radius: 0px 100px 0px 100px;
  backdrop-filter: blur(2px);
  /* background: #fff; */
  z-index: 2;
}

.imagebackground1 {
  width: 500px;
  height: 400px;
  position: absolute;
  transform: translate(100px, 20px);
  overflow: hidden;
  z-index: 1;
}

.imagebackground {
  width: 500px;
  height: 400px;
  position: absolute;
  transform: translate(900px, -400px);
  overflow: hidden;
}
